header {
	margin: 15px;
	font-family: 'Libre Barcode 128 Text', cursive;
}

header h1 a {
	color: black;
	text-decoration: none;
}

header nav ul li {
	display: inline-block;
	list-style: none;
	text-align: center;
	margin: 0 0 0 40px;
	font-size: 15px;
	font-weight: 600;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

ul {
	text-align: center;
}

a {
	text-decoration: none;
	color: #C86428;
}

.navitems {
	text-align: center;
}

.glyphicon.glyphicon-map-marker {
	padding: 4px;
}

.menuoptions {
	display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 5px 10px;
    font-size: 15px;
}

.menuoptions strong {
	font-size: 20px;
    font-weight: 900;
    text-decoration: underline;
    display: block;
}

.main {
	font-size: 35px;
	font-weight: 600;
	font-family: 'Libre Barcode 128 Text', cursive;
	text-align: center;
	margin: 100px;
}

body {
	background-image: url(../images/2coffees.jpg);
	width: 100%;
  	background-repeat: no-repeat;
  	 background-size: 101% 180%;
}

footer p {
	text-align: center;
	padding: 5px;
	right: 5px;
    margin-left: -5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 0px;
    color: #D2691E;
    font-weight: 400;
    opacity: 0.8;
}
